usar_lista_fija: false
lista_lenguajes: []
scraper:
    tiobe_site_format: https://www.tiobe.com/tiobe-index/
    github_site_format: https://github.com/topics/%v
    aliases:
        C#: csharp
        C++: cpp
        Classic Visual Basic: visual-basic
        Delphi/Object Pascal: delphi
    retry_delays_ms:
        - 300
        - 600
        - 1200
archivo_html_grafo: resource/grafo.html
archivo_resultado: resource/resultado.txt
